<main class="main">
    <section class="main--section1">
        <h1 class="main--section1__title">Crea tu tarjeta de visita</h1>
        <p class="main--section1__paragraph"> Crea mejores contactos profesionales de forma fácil y cómoda. 
        </p>
    </section>
    <section class="main--section2">
        <ul class="main--section2__list">
            <li> 
                <i class="fa-thin fa-object-ungroup">Diseña</i>
            </li>
            <li></li>
            <li></li>
        </ul>
    </section>

</main>