<section class="main_card">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"> Reset</i>
    </button>
  </div>
  <div class="profileCard">
    <section class="profileText js-profileText">
      <h1 class="nameSurname js-card-nameSurname">Nombre Apellido</h1>
      <p class="profileRole js-card-profileRole">Front-end developer</p>
    </section>

    <div class="profilePhotoContainer">
   
    </div>

    <nav>
      <ul class="profileLinks js-border">
        <li class="icon ">
          <a href="" class="telephone js-card-telephone">
            <i class="fa-solid fa-mobile-screen-button"> </i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="mail js-card-mail" target="blank">
            <i class="fa-regular fa-envelope"></i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="linkedin js-card-linkedin" target="blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="icon">
          <a href=" " class="github js-card-github" target="blank">
            <i class="fa-brands fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
