<fieldset>
  <div class="fill">
    <legend class="fill--header js-fill-legend" title="despliega / cierra la sección">
      <div class="fill--header__title">
        <span class="fill--header__title__icon">
          <i class="fa-regular fa-keyboard"></i>
        </span>
        <span class="fill--header__title__text">rellena</span>
      </div>
      <i
        class="header--scroll__create-card js-fill-rotate-scroll fas fa-chevron-down sectionshare__arrow"
      ></i>
    </legend>

    <section class="js-fill-content collapsed">
      <!-- name -->
      <label class="form--label" for="name">
        Nombre Completo
        <input
          class="form--input"
          id="name"
          type="text"
          name="name"
          placeholder="Ej: Sally Jill"
          required
        />
      </label>
      <!-- puesto -->
      <label class="form--label" for="puesto">
        Puesto
        <input
          class="form--input"
          id="puesto"
          type="text"
          name="puesto"
          placeholder="Ej: Front-end unicorn"
          required
        />
      </label>
      <!-- Imagen -->
      <label class="form--label" for="image"> Imagen de perfil</label>
      <div class="form--photo">
        <label class="form--photo__button" for="photo"> Añadir imagen </label>
        <div class="form--foto__marco"></div>
      </div>
      <!--Email-->
      <label class="form--label" for="email">
        Email
        <input
          class="form--input form--input--email"
          id="email"
          type="email"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Ej:sally-hill@gmail.com"
          required
        />
      </label>

      <!--Telephone-->
      <label class="form--label" for="telephone">
        Teléfono
        <input
          class="form--input"
          id="telephone"
          type="tel"
          name="telephone"
          placeholder="Ej: 555-55-55-55"
        />
      </label>
      <!--Linkelin-->
      <label class="form--label" for="linkelin">
        Linkelin
        <input
          class="form--input"
          id="linkelin"
          type="url"
          name="linkelin"
          pattern="linkedin.com/in/[a-z0-9._%+-]"
          placeholder="Ej: linkedin.com/in/sally.hill"
          required
        />
      </label>
      <!--Github-->
      <label class="form--label" for="github">
        Github
        <input
          class="form--input"
          id="github"
          type="url"
          name="github"
          pattern="@[a-z0-9.-]"
          placeholder="Ej: @sally-hill"
          required
        />
      </label>
    </section>
</fieldset>
