<main class="main">
  <section class="main--section1">
    <h1 class="main--section1__title">Crea tu tarjeta de visita</h1>
    <p class="main--section1__paragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda.
    </p>
  </section>
  <section class="main--section2">
    <div class="main--section2__div">
      <span class="main--section2__div__icon"
        ><i class="fa-regular fa-object-ungroup"></i
      ></span>
      <span class="main--section2__div__text">Diseña</span>
    </div>
    <div class="main--section2__div">
      <span class="main--section2__div__icon"
        ><i class="fa-regular fa-keyboard"></i
      ></span>
      <span class="main--section2__div__text">Rellena</span>
    </div>
    <div class="main--section2__div">
      <span class="main--section2__div__icon"
        ><i class="fa-sharp fa-solid fa-share-nodes"></i
      ></span>
      <span class="main--section2__div__text">Comparte</span>
    </div>
  </section>
  <section class="main--section3">
    <a href="./create-card.html" class="main--section3__button"
      ><span>comenzar</span></a
    >
  </section>
</main>
