<fieldset>
  <legend class="main--create" title="despliega / cierra la sección">
    <span class="main--create__span"
      ><i class="fa-regular fa-object-ungroup"></i
    ></span>
    <p class="main--create__text">diseña</p>
    <i class="fas fa-chevron-down sectionshare__arrow"></i>
  </legend>

  <section class="main--create__form">
    <p class="main--create__paragraph">colores</p>
    <section class="main--create__colors">
      <div class="main--create__div">
        <label class="main--create__elections" for="color1">
          <input id="color1" type="radio" name="color" />
          <div class="main--create__color">
            <div class="main--create__color1"></div>
            <div class="main--create__color2"></div>
            <div class="main--create__color3"></div>
          </div>
        </label>
      </div>

      <div class="main--create__div">
        <label class="main--create__elections" for="color2">
          <input id="color2" type="radio" name="color"/>
          <div class="main--create__color">
            <div class="main--create__color4"></div>
            <div class="main--create__color5"></div>
            <div class="main--create__color6"></div>
          </div>
        </label>
      </div>

      <div class="main--create__div">
        <label class="main--create__elections" for="color3">
          <input id="color3" type="radio" name="color"/>
          <div class="main--create__color">
            <div class="main--create__color7"></div>
            <div class="main--create__color8"></div>
            <div class="main--create__color9"></div>
          </div>
        </label>
      </div>
    </section>
  </section>
</fieldset>
