<fieldset>
  <div class="create">
  <legend
    class="main--create js-design-legend"
    title="despliega / cierra la sección"
  >
    <div class="main--create__legend">
      <span class="main--create__span"
        ><i class="fa-regular fa-object-ungroup"></i
      ></span>
      <span class="main--create__text">diseña</span>
    </div>
    <i
      class="header--scroll__create-card js-designRotateScroll header--scroll__create-card__rotate fas fa-chevron-down sectionshare__arrow"
    ></i>
  </legend>

<div class="js-design-content">
  <section class="main--create__form "> 
    <p class="main--create__paragraph">colores</p>

    <section class="main--create__colors js-containerColor">
      <div class="main--create__div">
        <label class="main--create__elections" for="color1">
          <input id="color1" type="radio" name="color" class="js-color1" />
          <div class="main--create__color">
            <div class="main--create__color1"></div>
            <div class="main--create__color2"></div>
            <div class="main--create__color3"></div>
          </div>
        </label>
      </div>

      <div class="main--create__div">
        <label class="main--create__elections" for="color2">
          <input id="color2" type="radio" name="color" class="js-color2" />
          <div class="main--create__color">
            <div class="main--create__color4"></div>
            <div class="main--create__color5"></div>
            <div class="main--create__color6"></div>
          </div>
        </label>
      </div>

      <div class="main--create__div">
        <label class="main--create__elections" for="color3">
          <input id="color3" type="radio" name="color" class="js-color3"/>
          <div class="main--create__color">
            <div class="main--create__color7"></div>
            <div class="main--create__color8"></div>
            <div class="main--create__color9"></div>
          </div>
        </label>
      </div>
    </section>
    </div>
  </section>
  </div>
</fieldset>
