<section class="main-card">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p>Reset</p>
    </button>
  </div>
  <div class="profile-card">
    <section class="profile-name">
      <h1>Nombre Apellido</h1>
      <p class="profile-role">Front-end developer</p>
    </section>
    <section class="profile-photo"></section>
    <nav>
      <ul class="profile-links">
        <li class="icon">
          <a href="" class="telephone">
            <i class="fa-solid fa-mobile-screen-button"> </i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="mail">
            <i class="fa-regular fa-envelope"></i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="github">
            <i class="fa-brands fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
