<section class="main_card">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"> Reset</i>
    </button>
  </div>
  <div class="profileCard">

    <section class="profileText">
      <h1 class="nameSurname">Nombre Apellido</h1>
      <p class="profileRole">Front-end developer</p>
    </section>

    <img class="profilePhoto" src="/src/images/default.png" alt="Profile photo">

    <nav>
      <ul class="profileLinks">
        <li class="icon">
          <a href="" class="telephone">
            <i class="fa-solid fa-mobile-screen-button"> </i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="mail">
            <i class="fa-regular fa-envelope"></i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="icon">
          <a href="" class="github">
            <i class="fa-brands fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</section>
