.main--create-card {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: $background-color;
    padding-left: 40px;
    padding-right: 40px;
  }
}
