.main--create-card {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    background-color: $background-color;
    padding-left: 40px;
    padding-right: 40px;

    // height: 852px;
    min-height: 82vh;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 2fr;

    // height: 1000px;
  }
}
.form--create-card {
  @media (min-width: 768px) {
    // width: 70vw;
    order: -1;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.header--scroll__create-card {
  color: $gunmetal;
  font-size: 18px;
}
.header--scroll__create-card__rotate {
  transform: rotate(180deg);
  padding-top: 25px;
}
.collapsed {
  display: none;
}
