.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 50px 20px;
  border-top: solid 1px $white-three;
  background-color: $white-two;
  height: 15vh;
  width: 100%;
  @media (min-width: 768px) {
    height: 10vh;
  }
}
.footerText {
  opacity: 0.5;
  width: 100%;
  font-family: $font-open;
  font-size: 14px;
  line-height: 1.43;
  color: $brownish-grey;
  text-align: center;
}
.logo {
  width: 103px;
  height: 40px;
  margin: 12px 47px 0 48px;
}
@media all and (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
  }
  .footerText {
    text-align: left;
  }
  .logo {
    align-items: right;
    margin-right: 0;
  }
}
