.fill {
  border-bottom: 1px solid $white-three;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 20px;
  padding-bottom: 10px;
  @media (min-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.form--label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-open;
  font-size: 1.4rem;
  line-height: 20px;
  color: $dark-green;
  width: 100%;
}
.form--input {
  font-family: $font-open;
  font-size: 1.4rem;
  padding: 3px 9px 7px 9px;
  margin-bottom: 15px;
  margin-top: 7px;
  height: 20px;
  // width: 100%;
  color: $pinkish-grey;
  border: solid 1px $hospital-green;
}
.form--photo {
  display: flex;
  margin-top: 7px;
  margin-bottom: 20px;
  // justify-content: center;
}
.form--photo__button {
  padding: 3px 22px 7px 22px;
  font-family: $font-open;
  font-size: 1.4rem;
  line-height: 20px;
  background-color: $dull-orange;
  color: $white-two;
  width: 140px;
  cursor: pointer;
}
.form--foto__marco {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: solid 1px $hospital-green;
}
.fill--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  &__title {
    padding-bottom: 25px;

    &__icon {
      color: $dull-orange;
      height: 26px;
      width: 32px;
      font-size: 18px;
      @media (min-width: 1200px) {
        font-size: 22px;
      }
    }

    &__text {
      color: $gunmetal;
      font-size: 18px;
      font-family: $font-open;
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 5px;
      text-transform: uppercase;
    }
  }
}
