.main {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &--section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &--section1__title {
    color: $dull-orange;
    font-size: 19.2px;
    height: 24px;
    font-family: $font-merry;
    font-weight: bold;
    padding-top: 40px;

    @media all and (min-width: 768px) {
      font-size: 24px;
      height: 31px;
    }
  }
  &--section1__paragraph {
    font-family: $font-open;
    color: $dark-green;
    font-size: 13px;
    margin: 20px 28px 17.8px 28px;
    line-height: 1.5;

    @media all and (min-width: 768px) {
      font-size: 16px;
      margin: auto;
      padding-top: 25px;
      width: 331px;
      height: 48px;
    }
  }
  &--section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 28px 17.8px 28px;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    height: 74px;
    border-radius: 4px;

    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
      margin: 40px auto;
      padding: 15px 20px 10px;
    }

    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icon {
        color: $dull-orange;
        height: 26px;
        width: 32px;
        font-size: 22.4px;

        @media all and (min-width: 768px) {
          width: 32px;
          height: 29px;
        }
      }

      &__text {
        color: $gunmetal;
        font-size: 13px;
        font-family: $font-open;

        @media all and (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }

  &--section3 {
    text-align: center;
    justify-content: center;
    margin: 38px 75px 50px 65px;

    &__button {
      color: $white-two;
      text-transform: uppercase;
      font-family: $font-open;
      font-weight: 600;
      font-size: 16px;
      background-color: $dirty-blue;
      border: none;
      border-radius: 21px;
      width: 129px;
      height: 42px;
      padding: 10px 20px;
      text-decoration: none;
    }
  }
}

.main--create {
  display: flex;
  flex-direction: row;
  padding: 30px 0 0 20px;
  gap: 10px;

  &__span {
    width: 21px;
    height: 18px;
    font-size: 18px;
    color: $dull-orange;
  }

  &__text {
    font-family: $font-open;
    font-weight: 600;
    font-size: 18px;
    color: $gunmetal;
    text-transform: uppercase;
  }

  &__paragraph {
    font-family: $font-open;
    font-size: 14px;
    color: $gunmetal;
    margin-top: 22px;
    margin-left: 39px;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__colors {
    margin-right: 25px;
    margin-top: 30px;
  }

  &__elections {
    display: flex;
    flex-direction: row;
  }

  &__div {
    margin-bottom: 20px;
  }

  &__color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15px;
  }

  &__color1 {
    background-color: $dark-green;
    width: 30px;
    height: 25px;
  }

  &__color2 {
    background-color: $dirty-blue;
    width: 30px;
    height: 25px;
  }

  &__color3 {
    background-color: $hospital-green;
    width: 30px;
    height: 25px;
  }

  &__color4 {
    background-color: $dried-blood;
    width: 30px;
    height: 25px;
  }

  &__color5 {
    background-color: $rusty-red;
    width: 30px;
    height: 25px;
  }

  &__color6 {
    background-color: $tomato;
    width: 30px;
    height: 25px;
  }

  &__color7 {
    background-color: $slate;
    width: 30px;
    height: 25px;
  }

  &__color8 {
    background-color: $faded-orange;
    width: 30px;
    height: 25px;
  }

  &__color9 {
    background-color: $light-grey-blue;
    width: 30px;
    height: 25px;
  }
}
